body {
    background: rgba(207, 207, 90, 0.596)
}

#banner{
   width: 40%;
   height: 500PX;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

#missao {
    font-size: 30px;
}

em, strong {
    color:rgb(0, 0, 0);
}